*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    cursor: none;
}

html {
    font-size: 10px;
}

body {
    background-image: url(https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png);
    
    color: #fff;
    font-family: 'lato';
}

body::after {
    content: "";
    position: fixed;
    z-index: 999;
    top: var(--y);
    left: var(--x);
    right: 0;
    bottom: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    font-size: 2rem;
    transform-origin: center
}

body.img-hovered::after {
    width: 7em;
    height: 7em;
    content: "CLICK";
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    animation: spin 4s infinite forwards cubic-bezier(1, 1, 1, 1);
}

.title {
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 5rem
}

.hero {
    position: relative;
    padding: 0 10%;
    margin-top: 10em;

    &__text {
        font-size: 5rem;
        padding: 2rem;
        color: #fff;
        display: inline-block;
        position: relative;
        z-index: 2;
    }

    &__imgContainer {
        width: 700px;
        height: 600px;
        position: absolute;
        left: 45%;
        top: 0;
        z-index: 0;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            filter: brightness(100%);
            transition: all 0.4s ease;
        }

        img:hover {
            filter: brightness(150%)
        }
    }
}




@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}